html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #fff;
	font-family: sans-serif;
}

a {
	text-decoration: none
}
a:visited {
	color: inherit;
}
a span {
	text-decoration: underline;
}

.container {
	display: grid;
	height: 100%;
	box-sizing: border-box;
	grid-template:
		". . . ." 40%
		"item-title item-title item-title item-title" 3fr
		". item-contacts item-contacts ." 1fr
		". . . ." 40% /
		1fr 1fr 1fr 1fr;
}

.item-contacts {
	grid-area: item-contacts;
	display: flex;
	flex-direction: row;
	font-size: 30px;
	justify-content: space-evenly;
    align-items: flex-start;
}

.item-title {
	grid-area: item-title;
	font-size: 50px;
	font-family: 'Raleway';
	flex-direction: row;
	text-align: center;
	align-self: center;
}

.icon-link::before {
	display: block;
	transition: .2s transform;
}
.icon-link:hover::before {
	transform: rotate(-25deg);
	animation: .1s linear link-anim infinite alternate;
	animation-delay: .2s;
}

@keyframes link-anim {
	from { transform: rotate(-25deg) }
	to { transform: rotate(25deg) }
}

@media only screen and (max-width: 768px) {
	.container {
		grid-template:
			". ." 40%
			"item-title item-title" 2fr
			"item-contacts item-contacts" 1fr
			". ." 40% /
			1fr 1fr;
		grid-gap: 0;
		padding: 0;
	}
	.item-contacts {
		align-items: center;
	}
}
